<div id="bg">

    <div class="container">
        <div class="card col-sm-5 col-xs-11">
<div class=register-box>

    <h1>Register</h1>

   
    <div class="textbox">
        <div class="text-lable">First name:</div>
       
        <input   type="text" [(ngModel)]="user.firstname" name="firstname" id="firstname" placeholder="Enter your firstname">
    </div>
    <div class=textbox>
        <div class="text-lable">Last name:</div>
        <input  type="text" [(ngModel)]="user.lastname" name="lastname" id="lastname" placeholder="Enter your last name">
    </div>
    <div class="textbox">
        <div class="text-lable">Email Address:</div> 
        <input  type="text" [(ngModel)]="user.email" name="email" id="email" placeholder="Enter your email">
    </div>
    <div class="textbox">
        <div class="text-lable">Password:</div>
        <input  type="text" [(ngModel)]="user.password" name="password" id="password" placeholder="Enter your password">
    </div>
    <div class="textbox">
        <div class="text-lable">Mobile Number:</div> 
        <input  type="text" [(ngModel)]="user.phnumber" name="phnumber" id="phnumber" placeholder="Enter your mobile number">
    </div>
    <div class="textbox">
        <div class="text-lable">Account Number:</div>
        <input  type="text" [(ngModel)]="user.accno" name="accno" id="accno" placeholder="Enter your account number">
    </div>
    
        <button type="button" class='btn' (click)="registerNow()" >Register</button>
    </div>
        </div>
    </div>
</div>
<router-outlet *ngIf="routerException == true">

</router-outlet>
